<h1><%= @dice_number %>d<%= @dice_sides %></h1>

<div>
  <a href="/">Roll again</a> | <a href="/">Go back home</a>
</div>

<ul>
  <% @rolls.each do |a_roll| %>
    <li>
      <em>Result: </em><%= a_roll %>
    </li>
  <% end %>
</ul>
